.DS_Store
BPM_PM/.DS_Store
BPM_PM/jupyter/.DS_Store
BPM_PM/jupyter/jupyterNotebooks/.DS_Store
BPM_PM/jupyter/jupyterNotebooks/.ipynb_checkpoints/PM_01IntroToProcessMining-checkpoint.ipynb
BPM_PM/slides/processMining/~$ProcessMiningTutorial.pptx
